 
  .Sports {
    background-color: blue;
    color:beige;
    margin-left: 38px;
    margin-top: 29px;
    padding-left: 46px;
    border-radius: 48px;
    padding-top: 16px;
    padding-right: 54px;
    }
    .college{
            background-color: rgb(253, 24, 188);
            margin-left: 40px;
            margin-top: 50px;
            padding-left: 50px;
            border-radius: 5px;
            padding-top: 60px;
            padding-right: 40px;
        }
        
        .login{
           background-color: black;
    color: beige;
    margin: 52px;
    margin-block: 59px;
    padding: 11px;
    border-radius: 32px;
        }
        .Nature{
            background-color: rgb(22, 252, 79);
            margin-left: 40px;
            margin-top: 50px;
            padding-left: 30px;
            border-radius: 5px;
            padding-top: 60px;
            padding-right: 40px;
            
        }
                 