 
  .sports{
            background-color: blue;
            margin-left: 40px;
            margin-top: 50px;
            padding-left: 50px;
            border-radius: 5px;
            padding-top: 60px;
            padding-right: 40px;
        }
        .college{
            background-color: rgb(253, 24, 188);
            margin-left: 40px;
            margin-top: 50px;
            padding-left: 50px;
            border-radius: 5px;
            padding-top: 60px;
            padding-right: 40px;
        }
        
        .login{
            margin:30px;
            padding:10px;
            border-radius: 4px;
        }
        